<!-- <h1>Editing Question</h1>
 -->
<%= render 'form' %>
<!-- 
<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>
 -->


 <script type="text/javascript">

//   $(document).ready(function() {
//     formmodified=0;
//     $('.edit_question').change(function(){
//         formmodified=1;
//     });
//     window.onbeforeunload = confirmExit;
//     function confirmExit() {
//         if (formmodified == 1) {
//             return "New information not saved. Do you wish to leave the page?";
//         }
//     }
//     $("input[name='commit']").click(function() {
//         formmodified = 0;
//     });
// });
//  $(document).ready(function() {
//     formmodified=0;
//     $('form *').change(function(){
//         formmodified=1;
//     });
//     window.onbeforeunload = confirmExit;
//     function confirmExit() {
//         if (formmodified == 1) {
//             return "New information not saved. Do you wish to leave the page?";
//         }
//     }
//     $("input[name='commit']").click(function() {
//         formmodified = 0;
//     });
// });

// window.onbeforeunload = function(){
//   return 'Are you sure you want to leave?';
// };
// $('#edit_question_#{@question.id}').data('serialize',$('#edit_question_#{@question.id}').serialize()); // On load save form current state

// $(window).bind('beforeunload', function(e){
//     if($('#edit_question_#{@question.id}').serialize()!=$('#edit_question_#{@question.id}').data('serialize'))return true;
//     else e=null; // i.e; if form state change show warning box, else don't show it.
// });
</script>
