<div class="container">
<div class="questionnaires_<%= action_name %>">
  <h1>
      Surveys
  </h1>
  <hr>
  <%= link_to "New Survey", new_survey %>

  <ul>
    <% @surveys.each do |survey| %>
      <li>
        <%= link_to survey.name, edit_survey(survey) %>
      </li>
      <li>
        <%= link_to survey.name, new_attempt_path(survey_id: survey.id), class: 'survey-name' %>
      </li>
    <% end -%>
  </ul>

</div>
</div>