<div class="container">

  <div class="questionnaires_<%= action_name %>">
    <a href="/" class="btn btn-primary">Return to AskKaro</a>
    <h1>QUIZZES</h1>
    <hr>

    <% if @surveys.empty? %>

    <p> There are no surveys </p>

    <% else %>

    <table class='table table-nonfluid survey-table'>

      <thead>

        <tr>
          <th>Name</th>

          <th>Description</th>

          <th>Questions</th>

          <th>Participants</th>

          <th></th>

        </tr>

      </thead>

      <tbody>

        <%= render partial: 'survey', collection: @surveys %>

      </tbody>

    </table>

    <%= paginate @surveys %>

    <% end %>

  </div>

 <%= link_to "New Test", new_survey,class: 'btn btn-primary btn-lg' %>
</div>

<script type="text/javascript" charset="utf-8">




//    function toggleFullScreen() {
        document.fullscreenEnabled = document.fullscreenEnabled || document.mozFullScreenEnabled || document.documentElement.webkitRequestFullScreen;

        function requestFullscreen(element) {
            if (element.requestFullscreen) {
                element.requestFullscreen();
            } else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.webkitRequestFullScreen) {
                element.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        }

        if (document.fullscreenEnabled) {
            requestFullscreen(document.documentElement);
        }

//    }
    document.addEventListener("keydown", function(e) {
        if (e.keyCode == 13) {
//            toggleFullScreen();
            if (document.fullscreenEnabled) {
                requestFullscreen(document.documentElement);
            }
        } else if(e.keyCode==27){
            document.documentElement.exitFullscreen();
        }
    }, false);
</script>

