<div class="container">

  <div class="questionnaires_<%= action_name %>">
    <a href="/" class="btn btn-primary">Return to AskKaro</a>
    <h1>QUIZZES</h1>
    <hr>
    <form action="/surveys/index">
      <input type="text" name="search" class="form-control">
      <input type="submit" class="btn btn-default">
    </form>
    <% if @surveys.empty? %>

    <p> There are no surveys </p>

    <% else %>

    <table class='table table-nonfluid survey-table'>

      <thead>

        <tr>
          <th>Name</th>

          <th>Description</th>

          <th>Questions</th>

          <th>Participants</th>

          <th></th>

        </tr>

      </thead>

      <tbody>

        <%= render partial: 'survey', collection: @surveys %>

      </tbody>

    </table>

    <%= paginate @surveys %>

    <% end %>

  </div>

 <%= link_to "New Survey", new_survey,class: 'btn btn-primary' %>
</div>

