
<div class="container">
  <a href="/surveys" class="btn btn-primary">Return To All Tests</a>
  <h2><%=@survey.name%></h2>
  <p style="white-space: pre-wrap"><%= raw(@survey.description) %></p>
  <form action="/verifyPass" method="POST">
    <div class="form-group">
      <label for="eno">Enrollment Number</label>
      <input type="text" name="enrollment" class="form-control" id="eno" placeholder="Please Enter Your College Enrollment Number">
      <label for="pwd">Password:</label>
      <input type="password" name="password" class="form-control" id="pwd" placeholder="Please Enter The Password For The Test">
      <input type="hidden" name="survey_id" value="<%=@survey.id%>">
      <input class="btn btn-primary" type="submit">
    </div>

  </form>
</div>


<script type="text/javascript">
    if(window.location.href.substr(-2) !== "?r") {
        window.location = window.location.href + "?r";
    }
</script>