<p><%=@survey.name%></p>
<p><%=@survey.description%></p>
<form action="verifyPass" method="POST">
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
<%= link_to "submit", verifyPass_path, {password: 'value1', param2: 'value2', method: :post} %>
</form>

<%= link_to @survey.name, new_attempt_path(survey_id: @survey.id), class: 'survey-name' %> 