<p><%= @survey.name %></p>
<p><%= @survey.description %></p>

<form>

	<div class="form-group">
		<label for="pwd">Password:</label>
		<input type="password" class="form-control" id="pwd">
	</div>

	<button type="submit" class="btn btn-default">Submit</button>
</form> 

<%= link_to @survey.name, new_attempt_path(survey_id: @survey.id), class: 'survey-name' %> 
