
<div class="container">
  <h2><%=@survey.name%></h2>
  <h4><%=@survey.description%></h4>
  <form action="/verifyPass" method="POST">
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" name="password" class="form-control" id="pwd">
      <input type="hidden" name="survey_id" value="<%=@survey.id%>">
      <input class="btn btn-primary" type="submit">
    </div>

  </form>
</div>


