<div class="container">
  <a href="/" class="btn btn-primary">Return to AskKaro</a>
  <h2 class="survey-title">
    <%= @attempt.survey.name %>
    <p><small><%= @attempt.survey.description %></small></p>
  </h2>

</div>

<div class="container">
  <div class="alert alert-success">
    <strong>Thank You for attempting the test. Your Score Is: </strong> <%=@attempt.score%>
  </div>
</div>
<script>
    window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
    window.onhashchange=function(){window.location.hash="no-back-button";}
</script>